.spotlight {
	background: radial-gradient(
		37.74% 81.78% at 50% 26.56%,
		rgba(148, 101, 255, 0.1) 0%,
		rgba(3, 0, 20, 0) 100%
	);
}

@media (width <= 1000px) {
	.aurora {
		background: conic-gradient(from 160deg at 24% -20%, rgba(218, 173, 255, 0.4), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.4));
		filter: blur(8);
	}
}

.aurora {
	animation: auroraReveal ease 3s;
	animation-iteration-count: 1;
	background: radial-gradient(ellipse 70% 50% at 50% 55%, rgba(161, 141, 255, 0.2) 0%, rgba(3,0,20,0) 70%),
	radial-gradient(ellipse 20% 60% at -5% 50%, rgba(218, 173, 255, 0.8) 0%, rgba(3,0,20,0) 70%),
	radial-gradient(ellipse 60% 100% at 35% 0%, rgba(218, 173, 255, 0) 0%, rgba(3,0,20,1) 80%),
	conic-gradient(from 150deg at 10% -70%, rgba(218, 173, 255, 0.8), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.8)),
	conic-gradient(from 130deg at 10% -70%, rgba(218, 173, 255, 0.5), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.5)),
	conic-gradient(from 190deg at 10% -70%, rgba(218, 173, 255, 1), rgba(135, 64, 194, 0.2) 5deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 347deg, rgba(218, 173, 255, 1));
	filter: blur(40px);
}

@keyframes auroraReveal {
	0% {
		background: radial-gradient(ellipse 20% 5% at 50% 55%, rgba(161, 141, 255, 0.2) 0%, rgba(3,0,20,0) 70%),
		radial-gradient(ellipse 20% 60% at -5% 50%, rgba(218, 173, 255, 0.8) 0%, rgba(3,0,20,0) 70%),
		radial-gradient(ellipse 60% 0% at 35% 0%, rgba(218, 173, 255, 0) 0%, rgba(3,0,20,1) 80%),
		conic-gradient(from 150deg at 10% -70%, rgba(218, 173, 255, 0.8), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.8)),
		conic-gradient(from 130deg at 10% -70%, rgba(218, 173, 255, 0.5), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.5)),
		conic-gradient(from 190deg at 10% -70%, rgba(218, 173, 255, 1), rgba(135, 64, 194, 0.2) 5deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 347deg, rgba(218, 173, 255, 1));
		filter: blur(80px);
	}

	100% {
		background: radial-gradient(ellipse 70% 50% at 50% 55%, rgba(161, 141, 255, 0.2) 0%, rgba(3,0,20,0) 70%),
		radial-gradient(ellipse 20% 60% at -5% 50%, rgba(218, 173, 255, 0.8) 0%, rgba(3,0,20,0) 70%),
		radial-gradient(ellipse 60% 100% at 35% 0%, rgba(218, 173, 255, 0) 0%, rgba(3,0,20,1) 80%),
		conic-gradient(from 150deg at 10% -70%, rgba(218, 173, 255, 0.8), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.8)),
		conic-gradient(from 130deg at 10% -70%, rgba(218, 173, 255, 0.5), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.5)),
		conic-gradient(from 190deg at 10% -70%, rgba(218, 173, 255, 1), rgba(135, 64, 194, 0.2) 5deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 347deg, rgba(218, 173, 255, 1));
		filter: blur(40px);
	}
}


.heroText1 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText2 {
	--purple-color: rgb(228, 214, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText3 {
	--purple-color: rgb(220, 202, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText4 {
	--purple-color: rgb(220, 200, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText5 {
	--purple-color: rgb(220, 215, 249);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText6 {
	--purple-color: rgb(212, 210, 247);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText7 {
	--purple-color: rgb(220, 202, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText8 {
	--purple-color: rgb(228, 214, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText9 {
	--purple-color: rgb(220, 214, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText10 {
	--purple-color: rgb(212, 214, 249);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText11 {
	--purple-color: rgb(204, 214, 247);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText12 {
	--purple-color: rgb(224, 226, 241);
	background: linear-gradient(90deg, white 80%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText13 {
	--purple-color: rgb(196, 226, 245);
	background: linear-gradient(90deg, white 50%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText14 {
	--purple-color: rgb(204, 226, 250);
	background: linear-gradient(90deg, white 50%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText15 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText16 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText17 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText18 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText19 {
	--purple-color: rgb(213, 185, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText20 {
	--purple-color: rgb(210, 180, 250);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}
