.heroSection {
	display: block;
	animation: heroEnter ease 1s;
	animation-delay: 5.5s;
}

@keyframes heroEnter {
	0% {
		display: none;
	}

	100% {
		display: block;
	}
}

.spotlight {
	background: radial-gradient(
		37.74% 81.78% at 50% 26.56%,
		rgba(148, 101, 255, 0.1) 0%,
		rgba(3, 0, 20, 0) 100%
	);
}

.aurora {
	display: block;
	animation: auroraReveal ease-out 2s;
	animation-iteration-count: 1;
	background: 
		radial-gradient(ellipse 20% 60% at -5% 50%, rgba(218, 173, 255, 0.8) 0%, rgba(3,0,20,0) 70%),
		radial-gradient(ellipse 60% 100% at 35% 0%, rgba(218, 173, 255, 0) 0%, rgba(3,0,20,1) 80%),
		conic-gradient(from 150deg at 10% -70%, rgba(218, 173, 255, 0.8), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.8)),
		conic-gradient(from 130deg at 10% -70%, rgba(218, 173, 255, 0.5), rgba(135, 64, 194, 0.2) 10deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 350deg, rgba(218, 173, 255, 0.5)),
		conic-gradient(from 190deg at 10% -70%, rgba(218, 173, 255, 1), rgba(135, 64, 194, 0.2) 5deg, transparent 20deg, transparent 340deg, rgb(93, 43, 133, 0.2) 347deg, rgba(218, 173, 255, 1));
	filter: blur(30px);
	opacity: 0.8;
}

@keyframes auroraReveal {
	0% {
		opacity: 0;
		filter: blur(80px);
	}

	100% {
		opacity: 0.8;
		filter: blur(30px);
	}
}

.heroText1 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText2 {
	--purple-color: rgb(228, 214, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText3 {
	--purple-color: rgb(220, 202, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText4 {
	--purple-color: rgb(220, 200, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText5 {
	--purple-color: rgb(220, 215, 249);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText6 {
	--purple-color: rgb(212, 210, 247);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText7 {
	--purple-color: rgb(220, 202, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText8 {
	--purple-color: rgb(228, 214, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText9 {
	--purple-color: rgb(220, 214, 251);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText10 {
	--purple-color: rgb(212, 214, 249);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText11 {
	--purple-color: rgb(204, 214, 247);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText12 {
	--purple-color: rgb(224, 226, 241);
	background: linear-gradient(90deg, white 80%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText13 {
	--purple-color: rgb(196, 226, 245);
	background: linear-gradient(90deg, white 50%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText14 {
	--purple-color: rgb(204, 226, 250);
	background: linear-gradient(90deg, white 50%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText15 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText16 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText17 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText18 {
	--purple-color: rgb(236, 226, 255);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText19 {
	--purple-color: rgb(213, 185, 253);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}

.heroText20 {
	--purple-color: rgb(210, 180, 250);
	background: linear-gradient(90deg, white 0%, var(--purple-color) 100%) text;
	color: transparent;
	text-shadow: 0 0 8px var(--purple-color);
}



.hex1 {
	display: block;
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	mix-blend-mode: multiply;

	/* background: repeating-linear-gradient(
		60deg,
		rgba(3, 0, 20, 0.8),
		rgba(3, 0, 20, 0.8) 20px,
		rgba(235, 223, 255, 1) 20px,
		rgba(235, 223, 255, 1) 22px
	); */

	/* background-color: white; */
	background: linear-gradient(60deg, rgba(3, 0, 20, 0.8), rgba(3, 0, 20, 0.8) 20px, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 23px, rgba(3, 0, 20, 0.8) 23px, rgba(3, 0, 20, 0.8) 43px);
	background-size: 24.248px 42px;
	background-position: 12.5px 23.5px;
}	

.hex2 {
	display: block;
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	mix-blend-mode: multiply;

	/* background: repeating-linear-gradient(
		120deg,
		rgba(3, 0, 20, 0.8),
		rgba(3, 0, 20, 0.8) 20px,
		rgba(235, 223, 255, 1) 20px,
		rgba(235, 223, 255, 1) 22px
	); */

	background-image: linear-gradient(120deg, rgba(3, 0, 20, 0.8), rgba(3, 0, 20, 0.8) 20px, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 23px, rgba(3, 0, 20, 0.8) 23px, rgba(3, 0, 20, 0.8) 43px);
	background-size: 24.248px 42px;
	background-position: 7px 8.5px;
}

.hex3 {
	display: block;
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	mix-blend-mode: multiply;

	/* background: repeating-linear-gradient(
		0deg,
		rgba(3, 0, 20, 0.8),
		rgba(3, 0, 20, 0.8) 20px,
		rgba(235, 223, 255, 1) 20px,
		rgba(235, 223, 255, 1) 22px
	) 5px; */

	background-image: linear-gradient(0deg, rgba(3, 0, 20, 0.8), rgba(3, 0, 20, 0.8) 20px, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 23px, rgba(3, 0, 20, 0.8) 23px, rgba(3, 0, 20, 0.8) 43px);
	background-size: 12.124px 21px;
	background-position: 0px 10px;
}

.backgroundColorRecovery {
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	z-index: 2;
	background: linear-gradient(0deg, rgba(3, 0, 20, 1) 0%, 16%, rgba(3, 0, 20, 0) 100%);
}

.god {
  position: absolute;
  top: 50%; 
  left: 0px; right: 0px; margin-inline: auto;
  /* mix-blend-mode: overlay; */
  z-index: -1;

  height: 60px; width: 60px;
  border-radius: 999px;

  background: rgba(3, 0, 20, 1);

  border: white solid 16px;
  filter: blur(1rem);

  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.godAura1 {
  position: absolute;
  top: 50%; 
  left: 0px; right: 0px; margin-inline: auto;
  /* mix-blend-mode: overlay; */
  z-index: -1;

  height: 60px; width: 60px;
  border-radius: 999px;

  background: rgba(3, 0, 20, 1);

  border: white solid 16px;
  filter: blur(0.3rem);

  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.godAura2 {
  position: absolute;
  top: 50%; 
  left: 0px; right: 0px; margin-inline: auto;
  /* mix-blend-mode: overlay; */
  z-index: -1;

  height: 60px; width: 60px;
  border-radius: 999px;

  background: rgba(3, 0, 20, 1);

  border: white solid 8px;
  filter: blur(0.3rem);

  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.godAura2 {
  position: absolute;
  top: 50%; 
  left: 0px; right: 0px; margin-inline: auto;
  /* mix-blend-mode: overlay; */
  z-index: -1;

  height: 60px; width: 60px;
  border-radius: 999px;

  background: rgba(3, 0, 20, 1);

  border: white solid 64px;
  filter: blur(3rem);

  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}


@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(2.5);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(3);
  }
  55% {
    transform: scale(4);
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(180);
    opacity: 0;
  }
  100% {
    transform: scale(180);
    opacity: 0;
  }
}